<footer class="container-fluid bh-absolute-bottom">
    <div class="row">  </div>
    <div class="row">
    <div class="col footertext">©2018 | Lorien De Bondt | 3 CMO PD <br> Project in samenwerking met VZW DATS <br> Academiejaar 2017-2018 <br>
        <img class="imgfooter" src="images/voorbeelden/logo_wit.png" alt="logo_vzwDATS">
        <img class="imgfooter" src="images/voorbeelden/logo_artv_white.png" alt="logo_artvelde">
    </div>
    </div>
 </footer>
 
 <button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>