
.client-style {
  font-family: $clientfont-family-base;
  $color: $color-white;
  border-bottom: 1px solid $color-white;
  border-top: 1px solid $color-white;
  margin: 1em 0 2em;}

  h1, h2, h3, h4, h5, h6,{
    font-family: $clientfont-family-title;
    color: #faaa01;

  }

  body{
    background-image: url('kaart.png')
  }

  a {
    color: rgba(20, 52, 235, 0);
    &:hover {}
    &:active {}
    &:focus{}
  }

  hr{
    display: block;
    color: #faaa01;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
}

  // …
  
