a.button-link {
 color: #faaa01;
 text-decoration: none;
 background-color: transparent;
 border-bottom: none;
}

.btn-outline-info {
 color: #faaa01;
 background-color: transparent;
 background-image: none;
 border-color: #faaa01;
}

.btn {
 font-family: 'Ubuntu Condensed', sans-serif;
}
.download {
cursor: pointer;
}
/* Navigation
---------------------------------------------
*/
.navbar a {
   border: none;
}
.menu {
 position: fixed;
 right: 3em;
 top: 13%;
 width: 9em;
 color: white;
 margin: -3em 0 0 0;
 text-align: left;
}


.sidenav {
 width: 130px;
 position: fixed;
 z-index: 1;
 top: 20px;
 left: 10px;
 background: none;
 overflow-x: hidden;
 padding: 8px 0;
}

.sidenav a {
 padding: 6px 8px 6px 16px;
 text-decoration: none;
 font-size: 25px;
 color:$mycolor-1;
 display: block;
}

.sidenav a:hover {
 color: $mycolor-2;
}


.arrow {
 box-sizing: border-box;
 height: 5vw;
 width: 5vw;
 border-style: solid;
 border-color: white;
 border-width: 0px 2px 2px 0px;
 transform: rotate(45deg);
 transition: border-width 150ms ease-in-out;
 margin-top: -236px;
 margin-left: 442px;
 margin-bottom: 30px;
}
/* Background
---------------------------------------------
*/


.background{
 z-index: -1;
 width: 100%;

}

.boven{
margin-top: -891px;
color: black;
}

.boventext{
 color: black;
 margin-top: -700px;
 align-content: center;
}


/* TEXT
----------------------------------------------
sticked to the bottom with small content pages
*/

.lefttext{
 text-align: left;
}

.righttext{
 text-align: right;
}

.titelsL{
text-align: left;
margin-bottom: 20px;
margin-top: 150px;
}

.titelsR{
 text-align: right;
 margin-bottom: 20px;
 margin-top: 150px;
 }


main ul li:before {
 content: '\2022';
 color: white;
 margin-right: 18px;
}

/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
   height: 100%;
 }

body {
   position: relative;
   margin: 0px;
   min-height: 100%;
   text-align: center;
 }

.bh-absolute-bottom {
 position: relative;
 right: 0;
 bottom: 0;
 left: 0;
}

footer {
   background-color: $mycolor-1;
   color: $color-white;
   a {
       color: $color-white;
       &:hover {
          
       }
   }
}

.imgfooter{
 width: 9%;
 padding: 15px;
 align-content: center;
}

.footertext{
 text-align: center;
 margin-top: 40px;
}

/* BACK TO TOP
-------------------------
*/
#to-top {
 display: none; /* Hidden by default */
 position: fixed; /* Fixed/sticky position */
 bottom: 20px; /* Place the button at the bottom of the page */
 right: 30px; /* Place the button 30px from the right */
 z-index: 99; /* Make sure it does not overlap */
 border: none; /* Remove borders */
 outline: none; /* Remove outline */
 background-color: $mycolor-2; /* Set a background color */
 color: white; /* Text color */
 cursor: pointer; /* Add a mouse pointer on hover */
 //padding: 15px; /* Some padding */
 width: 40px;
 height: 40px;
 border-radius: 20px; /* Rounded corners */
 font-size: 18px; /* Increase font size */
 &:hover {
   background-color:$color-white;
   color: $mycolor-2;
 }
}

/* AFBEELDINGEN
-------------------------
*/

.omslag{
align-content: center;
margin: 30px 40px 80px 60px;
width: 80%;}

.omslagfoto{
 width: 100%;
 padding-bottom: 70px;
}

hr{
 display: block;
 color: #faaa01;
 margin-top: 0.5em;
 margin-bottom: 0.5em;
 margin-left: auto;
 margin-right: auto;
 border-width: 3px;
}

.divgrey{
 background-color: beige;

}
/**
* Horizontal Type Line Behind Text
*/

h2 {
 font: 33px sans-serif;
 margin-top: 30px;
 text-align: center;
}

/**
* horinzontale lijnen
*/
h2.background {
 position: relative;
 z-index: 1;
  &:before {
     border-top: 2px solid #dfdfdf;
     content:"";
     margin: 0 auto; /* this centers the line to the full width specified */
     position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
     top: 50%; left: 0; right: 0; bottom: 0;
     width: 95%;
     z-index: -1;
 }

 span {
     /* to hide the lines from behind the text, you have to set the background color the same as the container */
     background: #fff;
     padding: 0 15px;
 }
}

/**
* filmpjes
*/
.film{
  padding-bottom: 50px;
}


/**
* sections
*/

section {
 padding: 100px 0;
}


@media (min-width: 768px) {
 section {
   padding: 150px 0;
 }
}

.btn {
 font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 font-weight: 700;
}

.btn-xl {
 font-size: 18px;
 padding: 20px 40px;
}

.btn-primary {
 background-color: #fed136;
 border-color: #fed136;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
 background-color: #fec810 !important;
 border-color: #fec810 !important;
 color: white;
}

.btn-primary:active, .btn-primary:focus {
 box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
 background: #fed136;
 text-shadow: none;
}

::selection {
 background: #fed136;
 text-shadow: none;
}

img::selection {
 background: transparent;
}

img::-moz-selection {
 background: transparent;
}


