<!-- /* VERTICAL NAVIGATION BAR
 -------------------------------------------------- 
 @media (min-width: 768px) {
    .custom-nav-ver {
        .collapse {
            display: block;
            float: right;
          
            
        }
        .navbar-collapse {
            width:100%;
            float: right;
        }
        .dropdown-menu {
            position: static !important;
            width: 100%;
          
        }
        .navbar-nav {
            width: 100%;
            float: right;
        }
        .nav-item {
            width: 100%;
            float: right;
        }
        li.active .dropdown-menu {
            position: static !important;
            display: block  !important;
        }
     }

 } 

 /* table of contents
 --------------------------- 
 #toc {
    margin-bottom: 1em;
    .nav {
        display: block;
    }

 } --> 


 