---
---
@charset "UTF-8";

@import "main";

a { color: #faaa01;
    text-decoration: none;
    background-color: transparent;
    border-bottom: none;
    &:hover {
        background-color: white; 
        color: $mycolor-2;} 
}

.bg{
    padding: 1rem;
    background: url("../images/kaartback.png");
    background-size: cover;
  }

a :hover{
    color: $mycolor-2;
}

h1, h2, h3, h4, h5, h6,{
    font-family: $clientfont-family-title;
    color: #faaa01;
  }
