<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }} | Huistijlgids - vzw DATS</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
</head>
<body>  


        <div class="container"> 
            <div class="row"> 
            <main class="col-12 col-md-10 col-lg-12 order-md-6 pt-5">
                    {{ content }}
                </main>
            </div>
        <div class=" col-12 col-md-3 col-lg-2">
            </div>
        </div>

         
        
<div class="sidenav">
        <a href="index.html">Home</a>
        <a href="logo.html">Logo</a>
        <a href="typo.html">Typo</a>
        <a href="print.html">Print</a>
        <a href="digitaal.html">Digitaal</a>
        <a href="fashion.html">Fashion</a>
      </div>

   <!-- proberen nav -->      
      <div class="nav-left visible-xs">
            <div class="button" id="btn">
              <div class="bar top"></div>
              <div class="bar middle"></div>
              <div class="bar bottom"></div>
            </div>
          </div>
          <!-- nav-right -->
          <main>
            <nav>
              <div class="nav-right hidden-xs">
                <div class="button" id="btn">
                  <div class="bar top"></div>
                  <div class="bar middle"></div>
                  <div class="bar bottom"></div>
                </div>
              </div>
              <!-- nav-right -->
            </nav>
          
          </main>
          
          <div class="sidebar">
            <ul class="sidebar-list">
              <li class="sidebar-item"><a href="#" class="sidebar-anchor">Home</a></li>
              <li class="sidebar-item"><a href="#" class="sidebar-anchor">Logo</a></li>
              <li class="sidebar-item"><a href="#" class="sidebar-anchor">Typo</a></li>
              <li class="sidebar-item"><a href="#" class="sidebar-anchor">Print</a></li>
               <li class="sidebar-item"><a href="#" class="sidebar-anchor">Digitaal</a></li>
               <li class="sidebar-item"><a href="#" class="sidebar-anchor">Fashion</a></li>
            </ul>
          </div>






{% include footer.html %}
{% include scripts-bottom.html %}

</body>
</html>