<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }} | Huistijlgids - vzw DATS</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
</head>
<body>  


        <div class="container"> 
            <div class="row"> 
            <main class="col-12 col-md-10 col-lg-12 order-md-6 pt-5">
                    {{ content }}
                </main>
            </div>
        <div class=" col-12 col-md-3 col-lg-2">
            </div>
        </div>
                 
        
<div class="sidenav">
        <a href="index.html">Home</a>
        <a href="logo.html">Logo</a>
        <a href="typo/index.html">Typo</a>
        <a href="#contact">Print</a>
        <a href="#contact">Digitaal</a>
        <a href="#contact">Fashion</a>
      </div>


{% include footer.html %}
{% include scripts-bottom.html %}

</body>
</html>